@(title: String, loginForm: play.data.Form[core.Forms.Login])
@import helper._
@layouts.swift_auth(title, scripts) {
    <div class="admin-form theme-info" id="login1" style="max-width: 400px">
        <div class="row mb15 table-layout">
            <div class="col-xs-4 va-m pln">
                <a href="@controllers.swift.routes.ApplicationController.getIndex()" name="Return to Dashboard">
                    <img src="@routes.Assets.at("data_bank/" + DataBank.find.byId(Long.parseLong(core.ControlPanel.getInstance().getMetaValue(core.ControlPanelMeta.cms_logo_data_bank_id))).file_name)" class="img img-responsive" />
                </a>
            </div>
            @*<div class="col-xs-4 va-m pln pull-left">*@
                @*<h5><strong>Affiliate</strong></h5>*@
            @*</div>*@
            <div class="col-xs-8 text-right pr5">
                <div class="login-links">
                    <a href="@routes.AuthenticationController.getRegisterAffiliateAccount()" class="active" name="Register">Sign up</a>
                </div>
            </div>
        </div>
        <div class="panel panel-info mt10 br-n">
        @helper.form(action = routes.AuthenticationController.postLogin(), 'enctype -> "application/x-www-form-urlencoded", 'method -> "POST", 'class -> "form contact", 'id -> "login_form") {
            @CSRF.formField
            @if(request.getQueryString("redirectUrl") != null) {
                @* Users Intending to redirect back to page *@
                <input type="hidden" name="redirectUrl" value="@request.getQueryString("redirectUrl")" />
            }
            <div class="panel-body bg-light p20">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="section">
                            @helpers._flash.render()
                            <aside class="alert alert-success alert-dismissible signin-success text-center hide" style="margin-bottom: 10px ; padding: 8px"></aside>
                            <aside class="alert alert-danger alert-dismissible signin-error text-center hide" style="margin-bottom: 10px; padding: 8px"></aside>
                        </div>
                        <div class="section">
                            <label for="username" class="field-label text-muted mb10">Email address</label>
                            <label for="username" class="field prepend-icon">
                                <input placeholder="Enter Email" class="gui-input" id="email" type="text" name="@loginForm.field("email").name()" />
                                <label for="username" class="field-icon"><i class="fa fa-user"></i>
                                </label>
                            </label>
                        </div>
                        <div class="section">
                            <label for="username" class="field-label text-muted mb10">Password</label>
                            <label for="password" class="field prepend-icon">
                                <input placeholder="Password" class="form-control" type="password" id="gui-input" name="@loginForm.field("password").name()" />
                                <label for="password" class="field-icon"><i class="fa fa-lock"></i></label>
                            </label>
                            <a href="#" name="Forget Password" class="active">Forgot Password ?</a>
                        </div>
                        <div class="section">
                            <label class="switch block switch-primary pull-left input-align mt10">
                                <input type="checkbox" name="remember" id="remember" checked>
                                <label for="remember" data-on="YES" data-off="NO"></label>
                                <span>Remember me</span>
                            </label>
                            <button type="submit" id="submitLogin" class="button btn-primary pull-right">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
}

@scripts = {
    <script src="@routes.Assets.at("my_js/jsAuthReg.js")" type="text/javascript"></script>
}