@(user: Users)
@import helper._
@layouts.main("Create New Password", scripts) {
    <div class="container">
        <div class="form-section">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <h2 class="heading">Forget Password</h2>
                    <h3 class="sub-heading">Enter your new password</h3>
                    @helper.form(action = routes.AuthenticationController.postNewPassword(), 'enctype -> "application/x-www-form-urlencoded", 'method -> "POST", 'id -> "reset_password") {
                        @CSRF.formField
                        <input type="hidden" name="u_email" value="@user.email">
                        <div class="form-group">
                            <aside class="alert alert-success alert-dismissible signin-success text-center hide" style="margin-bottom: 10px; padding: 8px"></aside>
                            <aside class="alert alert-danger alert-dismissible signin-error text-center hide" style="margin-bottom: 10px; padding: 8px"></aside>
                            @helpers._flash.render()
                        </div>
                        <div class="form-group">
                            <input placeholder="Enter new password" id="password" data-required="true" required="required" type="password" name="password" />
                        </div>
                        <div class="form-group">
                            <input placeholder="Retype Password" id="retype_password" type="password" required="required" data-validation-message="Password does not mactch" data-equalto="#password" name="retype_password" />
                        </div>
                        <div class="button-section">
                            <button type="submit" class="btn" id="resetPassword">Reset Password</button>
                        </div>
                    }
                </div>
                <div class="col-sm-5 col-xs-12">
                    <h3 class="sub-heading">Login to your @play.Configuration.root().getString("project.name") account? <a href="@routes.AuthenticationController.getLogin()">Login</a>.</h3>
                </div>
            </div>
        </div>
    </div>
}

@scripts = {
    <script>
        $(function() {
            $("#reset_password").parsley();
        })
    </script>
}