@import controllers.console.ApplicationController
@(content: String)
@import helper.CSRF
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> </html><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>503 Error | @play.Configuration.root().getString("project.name")</title>
        <meta name="robots" content="noindex, nofollow"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0"/>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("v1/css/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("v1/css/font-awesome.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("v1/css/nprogress.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("v1/css/flat-form.css")">

        <link rel="stylesheet" href="@routes.Assets.at("v1/css/plugins-404.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("v1/css/404.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("v1/css/theme-404.css")"/>
        @*<script src="@routes.Assets.at("console/js/vendor/modernizr-2.7.1-respond-1.4.2.min.js")"></script>*@
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" src="@routes.Assets.at("v1/js/jquery-2.1.1.min.js")"></script>
    </head>
    <body>
        <div id="error-container">
            <div class="error-options">

            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1 class="animation-pulse"><i class="fa fa-exclamation-circle text-warning"></i> 503</h1>
                    <h2 class="h3">Ooops! Internal Server Error</h2>
                    <br /><br />
                    <h2><i class="fa fa-chevron-circle-left text-muted"></i> <a onclick="javascript: history.back();">Go Back</a></h2>
                </div>
            </div>
        </div>
        <script>
            var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-16158021-6"]),_gaq.push(["_setDomainName","pixelcave.com"]),_gaq.push(["_trackPageview"]),function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();</script>
    </body>
</html>