<div class="chat">
    <header class="toggle-header"> <a href="#"><i class="icon"><img src="@routes.Assets.at("v1/images/caht.png")" alt="" /> </i>
        Let’s talk  <i class="icon icon-angle-down"></i></a></header>
    <div class="chating-wrap">
        <div class="chat-box">
            <div class="user-details">
                <div class="user-pic">
                    <img src="@routes.Assets.at("v1/images/user.jpg")" alt="" />
                </div>
                <div class="user-info">
                    <div class="userName">Cristine Hamburg</div>
                    <div class="user-des">Support Representative</div>
                </div>
            </div>
            <ul>
                <li>
                    <span class="usename">Cristine Hamburg</span>
                    <p>Hello, can I answer any questions you might have?</p></li>
            </ul>
        </div>
        <div class="chat-form">
            <textarea cols="5" rows="6" placeholder="Type Your message here"></textarea>
            <input type="submit" value="send" />
        </div>
    </div>
</div>