@import helper.CSRF
<div class="modal fade loginModal" id="loginModal" data-target="#loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-name h5" id="myModalLabel">Login to <strong> @play.Configuration.root().getString("project.name")</strong>!</h4>
            </div>
            <div class="modal-body">
                <p><a id="facebookLogin" class="noxhr" style="cursor: pointer;"><img src="@routes.Assets.at("v1/images/facebook.jpg")" alt="" /></a></p>
                @helper.form(CSRF(routes.AuthenticationController.postLogin()), 'enctype -> "application/x-www-form-urlencoded", 'method -> "POST", 'id -> "login_form") {
                    <input type="hidden" name="u_cat" value="customer" />
                    <div class="form-group">
                        <aside class="alert alert-success alert-dismissible signin-success text-center hide" style="margin-bottom: 10px; padding: 8px;"></aside>
                        <aside class="alert alert-danger alert-dismissible signin-error text-center hide" style="margin-bottom: 10px; padding: 8px;"></aside>
                        @helpers._flash.render()
                    </div>
                    @if(request.getQueryString("redirectUrl") != null) {
                        @* Users Intending to redirect back to page *@
                        <input type="hidden" name="redirectUrl" value="@request.getQueryString("redirectUrl")" />
                    } else {
                        <input type="hidden" name="redirectUrl" value="@request().uri()" />
                    }
                    <div class="form-group">
                        <input placeholder="Enter Email" id="email" class="form-control" data-type="email" type="email" name="email" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Password" type="password" class="form-control" id="password" name="password" />
                    </div>
                    <div class="button-section">
                        <button type="submit" class="btn" id="submitLogin">Login</button> <a href="@routes.AuthenticationController.getForgetPassword()">Forgot your Password?</a>
                    </div>
                }
            </div>
            <div class="modal-footer">
                Don't have an account? <a href="#" class="switch-to-signup">Sign Up!</a>
            </div>
        </div>
    </div>
</div>
@*<script type="text/javascript" src="@routes.Assets.at("my_js/jsAuthReg.js")"></script>*@