@(user: Users)
<html xmlns="http://www.w3.org/1999/xhtml">
    <body bgcolor="#f6f6f6">
        <table class="body-wrap">
            <tr>
                <td></td>
                <td class="container" bgcolor="#FFFFFF">
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <h3>Password Reset</h3>
                                    <table>
                                        <tr>
                                            <td class="padding">
                                                <h4>Click <a href="@request().host().concat(routes.AuthenticationController.getNewPassword(user.pwd_reset_code).toString)" style="color : #000000 ;">Here</a> to Reset Password</h4>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
